.title{
    font-size: 14px;
    font-weight: bold;
}
.trouble{
    writing-mode: vertical-rl;
    text-orientation:sideways-right;
    transform: rotate(180deg);
}
.showStat{
    font-family: 'Times New Roman', Times, serif;
    font-size: 11px;
}
td{
    text-align: center;
    min-width:50px
}